{% trans_default_domain 'FOSUserBundle' %}




<head>
    <title>MailApp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/noscript.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/ie9.css') }}" rel="stylesheet"/>
</head>

<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Mail App</h1>

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div class="field">
                    <p></p>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}

            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('fos_user_security_login') }}">Logowanie</a></li>
            </ul>
        </nav>
    </header>




    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Mateusz Trojanowski. Uniwersytet Śląski 2018.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

