<!DOCTYPE HTML>

<html>
<head>
    <title>MailApp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/noscript.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/ie9.css') }}" rel="stylesheet"/>

</head>
<body>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Mateusz Trojanowski. Uniwersytet Śląski: <a href="">2018</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>


</body>
</html>
