<!DOCTYPE HTML>

<html>
<head>
    <title>MailApp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/noscript.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/ie9.css') }}" rel="stylesheet"/>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">

            <h2 class="major">Dodaj nowy</h2>
            <form method="post" action="{{ path('index') }}addNewTag2">
                <div class="field">
                    <label for="tag">Tag</label>
                    <input type="text" name="tag" id="tag"/>
                </div>
                <div class="field ">
                <input type="submit" value="Wyslij" class="special"/>
                </div>
            </form>
        </div>


        <nav>
            <ul>
                <li><a href="{{ path('index') }}test">Wróć</a></li>
            </ul>
        </nav>
    </header>




    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Mateusz Trojanowski. Uniwersytet Śląski: <a href="">2018</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/crud.js') }}"></script>


</body>
</html>


