<!DOCTYPE HTML>

<html>
<head>
    <title>MailApp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/noscript.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/ie9.css') }}" rel="stylesheet"/>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Aktywne Mailingi</h1>
                <table id="emailTable">
                    <thead>
                    <tr>
                        <th>Mailing</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mailing in mailings %}
                        <tr>
                            <td>{{ mailing.topic }}</td>
                            <td>  <ul class="actions">
                                    <li><input type="submit" value="Info" class="special"/></li>
                                    <li><input class="delete" type="reset" data-id="{{ mailing.mailingId }}" value="Anuluj"/></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(mailings) }}
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="../index.php/test">Wróć</a></li>
            </ul>
        </nav>
    </header>






    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Mateusz Trojanowski. Uniwersytet Śląski: <a href="">2018</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/crud.js') }}"></script>


</body>
</html>


