<!DOCTYPE HTML>

<html>
<head>
    <title>MailApp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/noscript.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/ie9.css') }}" rel="stylesheet"/>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Mail App</h1>
                <p>Aplikacja webowa do automatyzacji wysylania wiadomosci e-mail<br/>
                    do wielu adresatów </p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#intro">Info</a></li>
                <li><a href="#tag">Tagi</a></li>
                <li><a href="#email">Adresy</a></li>
                <li><a href="#send">Wyslij</a></li>
            </ul>
            <div class="field">
                <p></p>
            <ul><li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li></ul>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <article id="intro">
            <h2 class="major">Działanie</h2>

            <p>Aplikacja Mail App służy do automatyzacji masowego wysyłania wiadmości mailowych. Jej działanie jest oparte na technologii
                Amazon SES i Symfony Swiftmailer. Aplikacja jest hostowana na serwerze Amazon EC2.</a>.</p>
            <p>Aby wysłać wiadomość przejdź do widoku "Wyślij", a następnie wybierz Tag i wypisz treść wiadomości. Naciśnięcie przycisku
            wysyłania utworzy nowy mailing, który rozpocznie wysyłanie jak tylko poprzednie mailingi zostaną ukończone.</p>

            <button><a href="{{ path('index') }}listMailing">Aktywne mailingi</a></button>
            <button><a href="{{ path('index') }}verifyEmail">Zweryfikuj adres nadawcy</a></button>
        </article>

        <!-- Work -->
        <article id="tag">
            <h2 class="major">Tagi</h2>
            <span class="image main">
                    <img src="{{ asset('img/41.jpg') }}" alt="Example"/>
               </span>
            <p>Tagi służą podzielniu adresów mailowych na pomniejsze grupy. Tag 'ALL' zawiera wszystkie adresy mailowe.</p>
            <p>Aby obejrzeć listę dostępnych tagów, naciśnij 'Wszystkie tagi'. Tagi są tworzone automatycznie poprzez dodanie adresu z
            nieistniejącym wcześniej tagiem. Jeśli tag nie ma przypisanego żadnego adresu, zostanie automatycznie usunięty.</p>
            <button><a href="{{ path('index') }}listTag">Wszystkie tagi</a></button>

        </article>

        <!-- About -->
        <article id="email">
            <h2 class="major">Adresy</h2>
            <span class="image main">
                    <img src="{{ asset('img/41.jpg') }}" alt="Example"/>
                </span>
            <p>Tutaj możesz zarządzać adresami mailowymi dostępnymi w aplikacji. Każdy adres jest przypisany do tagu,
            który następnie wykorzystywany jest przez mailingi.</p>

            <ul class="actions">
                <li> <button><a href="{{ path('index') }}addEmail">Wszystkie adresy</a></button> </li>
                <li><button><a href="{{ path('index') }}addNewEmail">Dodaj nowy adres</a></button> </li>
            </ul>
        </article>

        <!-- Wyslij -->
        <article id="send">
            <h2 class="major">Wysyłanie</h2>
            <form method="post" action="{{ path('mail') }}">
                <div class="field half first">
                    <label for="name">Temat</label>
                    <input type="text" name="name" id="name"/>
                </div>
                <div class="field half">
                    <label for="email">Grupa odbiorców / Tag</label>
                    <input type="text" name="email" id="email"/>
                </div>
                <div class="field">
                    <label for="message">Wiadomość</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Wyslij" class="special"/></li>
                    <li><input type="reset" value="Reset"/></li>
                </ul>
            </form>
        </article>


    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Mateusz Trojanowski. Uniwersytet Śląski: <a href="">2018</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>


</body>
</html>
